<nav class="site-nav">
  <ul>
    <li{% if page.url == "/install/" %} class="active"{% endif %}>
      <a href="install/">Install</a>
    </li>
    <li{% if page.url == "/docs/language/" %} class="active"{% endif %}>
      <a href="docs/language/">Docs</a>
    </li>
    <li>
      <a href="https://github.com/matthewp/liblucy">GitHub</a>
    </li>
  </ul>
</nav>