<nav class="site-nav">
  <ul>
    <li{% if page.url == "/install/" %} class="active"{% endif %}>
      <a href="install/">Install</a>
    </li>
    <li{% if page.url.startsWith('/docs') %} class="active"{% endif %}>
      <a href="docs/">Docs</a>
    </li>
    <li>
      <a href="https://github.com/lucydsl/liblucy">GitHub</a>
    </li>
  </ul>
</nav>