---
title: Install
---
<!doctype html>
<html lang="en">
<title>{{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="{{ page.url | baseUrl }}">
<link rel="stylesheet" href="styles/install.css">
{% include "_base-styles.njk" %}

<body class="install">
{% include "_nav.njk" %}

<section class="container font-3">
  {{ content | safe }}
</section>